{% load static %}

<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted">&copy 2023 Roshdy Said </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">roshdysaid72@gmail.com</span>
				<span  class="px-2">+20 109 093 5044</span>
				<span  class="px-2">Developed by<span class="text-primary fw-bold fst-italic"> Roshdy Said</span></span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div>
</footer>
